{% extends "layout.html" %}

{% block app_content %}

<div class="jumbotron">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">Welcome to Safari Security Testing Solutions.</p>
  <hr class="my-4">
  <p>This website really just does it all doen't it? Well... No, it doesn't. But it will let you create some tickets for your company. To get started you're going to have to log in.</p>
  <p>Don't have an account yet? Click below to register.</p>
  <a href="{% url "register" %}" role="button" class="btn btn-primary">Register</a>
</div>

{% load crispy_forms_tags %}
<h1 class="display-4">Login</h1>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-primary" type="submit" value="Submit"/>
</form>
<a href="{% url "password_reset" %}">Forgot Password?</a>
{% endblock %}